form .input-field {
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.input-field input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
}

.input-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
    display: none;
}
#modal{
    color: #f07c29;
}
#verify{
    background-color: #f07c29 !important;
    color: white !important;
    font-weight: 600;
}
.submitbtn1 {
    background-color: #f07c29 !important;
    color: white !important;
}

.submitbtn1:hover {
    outline: none;
    background-color: #212529 !important;
    color: #f07c29 !important;
}

.signupimg {
    overflow: hidden;
    background-position: bottom;
    margin-top: 30px;
}