.googlebutton{
    border: 2px solid red;
    width: 500px;
}
.razorpaybutton{
        background: #F07c29;
        color: #fff;
        display: inline-block;
        font-size: 13px;
        font-weight: 700;
        height: 40px;
        border-radius: 50px;
        line-height: 43px;
        margin-top: 20px;
        padding: 0 22px;
        text-transform: uppercase;
        font-family: 'Rufina', serif;
        font-weight: 400;
        border: none;
        letter-spacing: 0.3;
}